     {{#if loggedIn}}
     <form class="form search-form">
        <div class="form-group col-md-4">
         <select class="form-input" id="brand-search" name="brand-search">
            <option value="0">Choose a Brand</option>
          {{#each brands as |brand|}}
            <option value={{brand.id}}>{{brand.brand_name}}</option>
          {{/each}}
          </select>
        </div>
        <div class="form-group col-md-4">
          <select class="form-input" id="type-search" name="type-search">
            <option value="0">Choose a Type</option>
           {{#each types as |type|}}
            <option value={{type.id}}>{{type.type_name}}</option>
          {{/each}}
          </select>
        </div>
        <div class="form-group col-md-4">
         <button class="btn btn-primary" id="submit-button" type="submit">Search Cars</button>
        </div>
        <div class="clearsearch">
           <button class="btn btn-primary" id="clearsearch" >View All Cars</button>
        </div>
      </form>
   
    <section class="container">
    <h3>Car Listings</h3>
    <section class="flex-row justify-center">
    {{#each cars as |car|}}
    <section class="card">
    <a href="/car/{{id}}">
    <header>{{name}}</header>
     <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}" width="300" height="300" >
      <p>Price: {{price}}</p>
    </div>
    </a>
   </section>
    {{/each}}
  </section>
   </section>
  </div>
  {{/if}}
  <script src="/js/search.js"></script>
 <script src="/js/cursorCar.js"></script> 
